ROCK_USER_ID=
ROCK_BOT_API_KEY=

# For multiple watchers, separate them in a string by a comma - ex. "userid1, userid2, userid3"
ROCK_WATCHER_LIST=

# Fill these up with the information from your rock.so profile and spaces
# If you have any doubt on how to do so just follow this link for the explanation - https://youtu.be/5BdQ86XhRUA